:root {
    --theme-main: #173652;
    --theme-main-light: #1c4a72;
}

.navbarContainer {
    display: flex;
    background-color: var(--theme-main);
    color: white;
    padding: 0 16px;
    height: auto;
}

.navbarButton {
    height: 64px;
    padding: 0 16px;
    background: transparent;
    border: none;
    color: inherit;
}

.navbarButton:hover {
    background-color: var(--theme-main-light);
    transition: background-color 0.18s ease;
}